.popup__button .popup__button_save{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__button_avatar {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }